#!/bin/sh

xrandr -s 1680x1050 &
xrandr -s 1920x1080 &
xset s off
xset -dpms
xset r rate 250 50 &
setxkbmap de &
feh --bg-scale ~/.config/images/wallpaper.jpg
picom &
nm-applet &
volumeicon &
tilda &

